@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the arrows in the number field in Google Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Hiding the arrows for input fields with the type "number" in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(0.95);
    transform: translateY(2.5rem);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.add-in {
  animation: addIn 0.3s ease-in;
}

@keyframes addIn {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}
